<h1>All Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, "/articles/#{article.id}" %></li>
    <% end %>
</ul>
<hr>
<%= link_to '+ Add a new article', "/articles/new" %>
